{% extends 'base.html' %}

{% block content %}
    <!DOCTYPE html>
    <html>
    <head>
        <extends value="base.html"></extends>
        <title>Email Preview and Edit</title>
        <link href="/static/styles.css" rel="stylesheet"/>
    </head>

    <div class="container">
        <div class="container">
            <body>
            <h1>Email Preview</h1>
            <form action="{% url 'send_email' %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div>
                    <label for="subject">Subject:</label><br/>
                    <input  class="form-control"  id="subject" name="subject" type="text"
                           value="{{ subject }}"/><br/><br/>
                </div>
                <label for="email">E-Mail:</label><br/>
                <input  class="form-control" id="email" name="email" type="text" value="{{ email }}"/><br/><br/>
                <!--<label for="pdf_file">Attach PDF:</label><br>
                <input type="file" id="pdf_file" name="pdf_file" value="{{ rechnung_pdf }}"><br><br> -->
                <input checked=""  id="kopie_mail" name="kopie_mail" type="checkbox"/>
                <label for="kopie_mail">Kopie an mich senden</label><br/><br/>
                <label for="message">Message:</label><br/>
                <textarea  cols="100" id="message" name="message" rows="15">{{ message }}</textarea><br/><br/>
                <input class="btn btn-primary" name="final_send" type="submit" value="Send"/>
            </form>
            </body>
        </div>
    </div>
    </html>
{% endblock %}